<div ng-controller="homeController">
<div class = "name" >{{playlists[1]["name"]}}</div>
<div class = "rec_list">

	<button class = "album_info" ng-repeat="i in playlists[1]['info']" ng-click = "playThisSong(i)">
			<img src = "{{i['image']}}">
			<div class = "desc">{{i['name']}}</div>
		
	</button>
</div>

<div class = "name" >{{playlists[2]["name"]}}</div>
<div class = "rec_list">

	<button class = "album_info" ng-repeat="i in playlists[2]['info']" ng-click = "playThisSong(i)">
			<img src = "{{i['image']}}">
			<div class = "desc">{{i['name']}}</div>
		
	</button>
</div>

<div class = "name" >{{playlists[3]["name"]}}</div>
<div class = "rec_list">

	<button class = "album_info" ng-repeat="i in playlists[3]['info']" ng-click = "playThisSong(i)">
			<img src = "{{i['image']}}">
			<div class = "desc">{{i['name']}}</div>
		
	</button>
</div>

<div class = "name" >{{playlists[4]["name"]}}</div>
<div class = "rec_list">

	<button class = "album_info" ng-repeat="i in playlists[4]['info']" ng-click = "playThisSong(i)">
			<img src = "{{i['image']}}">
			<div class = "desc">{{i['name']}}</div>
		
	</button>
</div>

<div class = "name" >{{playlists[5]["name"]}}</div>
<div class = "rec_list">

	<button class = "album_info" ng-repeat="i in playlists[5]['info']" ng-click = "playThisSong(i)">
			<img src = "{{i['image']}}">
			<div class = "desc">{{i['name']}}</div>
		
	</button>
</div>

<div class = "name" >{{playlists[6]["name"]}}</div>
<div class = "rec_list">

	<button class = "album_info" ng-repeat="i in playlists[6]['info']" ng-click = "playThisSong(i)">
			<img src = "{{i['image']}}">
			<div class = "desc">{{i['name']}}</div>
		
	</button>
</div>

</div>